<!DOCTYPE html>
<html lang="en">
<head>
    <title>Diabetes Prediction App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="style.css">

</head>
<body>
    <!-- Header starts here -->
    <div style="background:#2d2d2d; color:#fff;line-height: 0.5;margin-bottom: 5px">
        <div class="container p-1">
          <h6 class="display-4">Diabetes Prediction</h6>
          <p class="font-size: 40px">with Machine Learning</p>
        </div>
    </div>
    <!-- Header End-->
    
    <div class="container">
        <div class="card mb-10 shadow-sm" id="custom_card">

        <form method="POST" action="/predict">
            <!-- Feature Starts here -->
            <div class="form-check form-check-inline">
                <label class="form-check-label">Age</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="number" name="age" min="0" max="150" required>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
            <div class="form-check form-check-inline">
                <label for="gender" class="form-check-label">Gender</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="Male" checked="checked">
                <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="Female">
                <label class="form-check-label">Female</label>
            </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
            <div class="form-check form-check-inline">
                <label for="polyuria" class="form-check-label">I always want to urinate</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="polyuria" value="Yes" checked="checked">
                <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="polyuria" value="No">
                <label class="form-check-label">No</label>
            </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="polydipsia" class="form-check-label">I always feel thirsty</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="polydipsia" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="polydipsia" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="sudden_weight_loss" class="form-check-label">I have a sudden weight loss</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sudden_weight_loss" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sudden_weight_loss" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="weakness" class="form-check-label">My body felt weak</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="weakness" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="weakness" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="polyphagia" class="form-check-label">I'm still very hungry even after eating lots of food</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="polyphagia" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="polyphagia" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="genital_thrush" class="form-check-label">My reproductive organ is itching and irritated</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genital_thrush" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genital_thrush" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="visual_blurring" class="form-check-label">I have blurred vision</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="visual_blurring" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="visual_blurring" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="itching" class="form-check-label">My skin is itchy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="itching" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="itching" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="irritability" class="form-check-label">I become upset or frustrated easily</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="irritability" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="irritability" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="delayed_healing" class="form-check-label">My wounds take a long time to heal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="delayed_healing" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="delayed_healing" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="partial_paresis" class="form-check-label">My muscles felt weaker than normal</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="partial_paresis" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="partial_paresis" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="muscle_stiffness" class="form-check-label">My muscles felt stiff</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="muscle_stiffness" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="muscle_stiffness" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="alopecia" class="form-check-label">I have hair loss</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="alopecia" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="alopecia" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->
            <!-- Feature Starts here -->
            <div>
                <div class="form-check form-check-inline">
                    <label for="obesity" class="form-check-label">I'm obese</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="obesity" value="Yes" checked="checked">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="obesity" value="No">
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <!-- Feature Ends here -->

            <button type="submit" class="btn btn-dark">Predict</button>
        </form>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-10 shadow-sm" id="custom_card">
                    <h4>Prediction: {{ display_pred }}</h4>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-10 shadow-sm" id="custom_card">
                    <h4>Certainty: {{ pred_prob }}%</h4>
                    
                </div>
            </div>
        </div>   
    </div>
</body>
</html>